@keyframes slideInFromLeft {
	0% {
		transform: translateX(-100%);
	}
	100% {
		transform: translateX(0%);
	}
}

@keyframes slideOutFromLeft {
	0% {
		transform: translateY(50%);
	}
	100% {
		transform: translateY(100%);
	}
}

@keyframes slideOut {
	0% {
		transform: translateY(50%);
	}
	100% {
		transform: translateY(50%);
	}
}

.customPlayer1 {
	margin-left: -40% !important;

	animation: 0.2s ease-out 0s 1 slideInFromLeft;
}

.customPlayer2 {
	margin-right: -14% !important;
	animation: 0.2s ease-out 0s 1 slideInFromLeft;
}

/* .customPlayer1:active {
	animation: 0.1s ease-out 0s 1 slideOut;
}

.customPlayer2:active {
	animation: 0.2s ease-out 0s 1 slideOut;
} */

.fieldCard {
	animation: 0.5s ease-out 0s 1 slideInFromLeft;
}

.customDeck:active {
	animation: 0.5s ease-out 0s 1 slideOutFromLeft;
}

.turn {
	font-size: 500%;
	margin-bottom: 50%;
}
