.game {
	text-align: center;
	display: flex;
	flex-wrap: wrap;
}
.background {
	background: url("https://cdn2.unrealengine.com/Diesel%2Fproductv2%2Funo%2Fhome%2FGameName_Store_Landscape_2560x1440-2560x1440-5195e8a3e06d672f97a1ee49ecea59027c14cae4.jpg")
		no-repeat;
	background-size: 100%;
}
